# Database
DATABASE_URL=postgresql://urbanito:password@localhost:5432/urbanito_db

# Redis
REDIS_URL=redis://localhost:6379

# Server
NODE_ENV=development
PORT=4000

# JWT
JWT_SECRET=tu_secreto_jwt_super_seguro

# Firebase Admin SDK
FIREBASE_PROJECT_ID=tu-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@tu-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Frontend
FRONTEND_URL=http://localhost:3000
